amqp==5.1.1
async-timeout==4.0.2
billiard==4.1.0
boto3==1.26.160
botocore==1.29.160
celery==5.3.1
click==7.1.2
click-aliases==1.0.1
click-default-group==1.2.2
click-didyoumean==0.3.0
click-help-colors==0.9.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
commonmark==0.9.1
decorators==2.0.7
jmespath==1.0.1
kombu==5.3.1
prompt-toolkit==3.0.38
Pygments==2.15.1
python-dateutil==2.8.2
redis==4.6.0
rich==9.13.0
s3transfer==0.6.1
six==1.16.0
SQLAlchemy==1.4.48
tabulate==0.8.10
task==0.2.5
typing-extensions==3.10.0.2
tzdata==2023.3
urllib3==1.26.16
vine==5.0.0
wcwidth==0.2.6
